[user]
	name = Feliche-Demian Netliukh
	email = 51330172+Demianeen@users.noreply.github.com
	signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMZoqTjeGfPX1oif9+1UCmI+QGWVHq2kJBlEBWtlSGXn

[alias]
	co = checkout
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --oneline --color

[init]
	defaultBranch = main

[core]
	autocrlf = input

[pull]
	rebase = true

[rebase]
	autoStash = true

[merge]
	tool = nvim

[mergetool]
	prompt = false

[mergetool "nvim"]
	cmd = nvim +"DiffviewOpen $branches" +tabonly

[commit]
	gpgsign = true

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[diff]
	tool = difftastic
	external = difft

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[pager]
	difftool = true
